/* ___GLOBAL___ */

html > * {font-family: "Roboto Slab", serif;}
html,body {height: 100%; margin: 0; padding: 0px;}
html {scroll-behavior: smooth; scrollbar-color: rgb(87, 201, 163) #1b1b1b ;}


/* Flex */
.flex {display: flex;}
.column {flex-direction: column;}
.row {flex-direction: row;}
.align-items-center {align-items: center;}
.align-content-center {align-content: center;}
.justify-content-center {justify-content: center;}
.justify-content-evenly {justify-content: space-evenly;}

/* Text */
h1,h2,h3 {font-family: "Roboto Slab", serif; margin: 0px; padding: 0px;}
li,p,label,a {font-family: "Oswald", sans-serif; margin: 0px; padding: 0px;}
h1 {font-size: 3rem; text-transform: uppercase;}
h2 {font-size: 2rem;}
h3 {font-size: 1.6rem;}
p {font-size: 1.2rem; color: black;}
a, ul {font-size: 1.1rem; text-transform: uppercase;}
a:hover,a:link,a:visited {text-decoration: none; color: black;}
.uppercase {text-transform: uppercase;}
li {overflow: hidden;}
ul {padding-left: 0;}
.txtCenter {text-align: center;}

/* Buttons/CTA */
.indexCTA {line-height: 50px; height: 50px; text-align: center; width: 250px; cursor: pointer;}
.indexButton {transition: all 0.8s; position: relative;}
.indexButton span {transition: all 0.8s;}
.indexButton:hover span {letter-spacing: 3px;}
.indexButton:hover::before {opacity: 0.3;transform: scale(1, 1);}
.indexButton:hover::after {opacity: 0; transform: scale(0.1, 1);}
.indexButton::before {content: ""; position: absolute; left: 0; width: 100%; height: 100%; opacity: 0; transition: all 0.8s; border-width: 1px 0px; border-style: solid; border-color: black; transform: scale(0.1, 1);}
.indexButton::after {content: ""; position: absolute; left: 0; width: 100%; height: 100%; background-color: rgba(15, 158, 111, 0.35); transition: all 0.8s;}

/* Animations */
.slideHello {animation: slideLeftRight 1.6s ease forwards;}
.slideInt {animation: slideLeftRight 1.8s ease forwards;}
.slideName {animation: slideLeftRight 1.9s ease forwards;}
.slideButtomUP {animation: slideButtomUP 2s ease forwards;}
/* .slideInBG {animation: slideBG 1.3s ease forwards; background-color: #1b1b1b; height: 100%; width: 100%; position: absolute; z-index: -10;} */

/* ___PAGES___ */
.border-radius {border-radius: 8px;}
.width100 {width: 100%;}
/* Index */
.introContainer {color: #252121;}
.indexNav {margin-top: 80px; width: 85%; max-width: 900px;}
.divider {color: purple; font-size: 2rem; margin: 0px 15px; }

/* Content Pages */
.contentNav {max-width: 900px; position: fixed; top: 20px; right: 20px;}
.contentNav span {font-size: 2.5rem; color: #fcf5f5;}
.navObject:hover {color: rgb(87, 201, 163);}
.navActive {color: rgb(87, 201, 163) !important;}

.contentContainer {min-height: 100vh; min-width: 100%; z-index: -10;}
.contentContainer h1 {margin-left: 40px; padding-top: 15px;}
.contentSize {min-height: 100vh; width: 100%;}

/* Container */
.themeContainer {background-color: #1b1b1b; color: #fcf5f5;}
.themeContainer h2 ,h3 {color: #1b1b1b;}

/* Content */
.contentTile {margin: 30px 0px; min-width: 900px; max-width: 700px; background-color: #fff; border-radius: 10px;}
.content {width: 100%;}

.projectImage {width: 500px; height: 380px; background-repeat: no-repeat; background-size: contain;}

.aboutImage {width: 366px; height: 500px; background-repeat: no-repeat; background-size: contain;}
.aboutText {color: #1b1b1b;}
.aboutText h1 {margin-left: 0px;}
/* .imageContainer {width: 366px; height: 500px; } */

/* Form */
/* .contactContainer {width: 280px;} */
.headerContact {margin-bottom: 20px;}
.formInput {border: black solid 1px;}
.formTextbox{height: 200px;}
.formButton {background-color: black; color: white; font-size: 1rem; border: none; border-radius: 3px; padding: 7px 0px; font-weight: bold;}
.formButton:hover {color: cadetblue; cursor: pointer;}
.formValidator {text-align: center;}
.formValidStyle {border: solid 2px; border-radius: 4px; padding: 2px 0px; margin-bottom: 6px;}
.formValidTrue{background-color: #d2f7cf87; border-color: #6ebc6e; }
.formValidFalse{background-color: #ffb0b087; border-color: #943c3c; }
/* ___KEYFRAMES___ */
@keyframes slideLeftRight {
    0% {transform: translateX(-900px) scale(0.8);}
    100% {transform: translateY(0px) scale(1);}
}

@keyframes slideButtomUP {
    0% {transform: translateY(60px);}
    100% {transform: translateY(0px);}
}

@keyframes slideBG {
    0% {transform: translateX(1400px);}
    100% {transform: translateX(0px);}
  }


/* ___MEDIATAGS___ */
/*-- 600Px --*/
@media (min-width: 600px) {

  }
  
  /*-- 800Px --*/
  @media (min-width: 800px) {

  }
  
  /*-- 1000Px --*/
  @media (min-width: 1000px) {

  }
  
  /*-- 1200Px --*/
  @media (min-width: 1200px) {

  } 