/* ___GLOBAL___ */

html > * {font-family: "Roboto Slab", serif;}
html,body {height: 100%; margin: 0; padding: 0px;}
html {scroll-behavior: smooth; scrollbar-color: rgb(45, 131, 102) #1b1b1b ;}


/* Flex */
.flex {display: flex;}
.column {flex-direction: column;}
.row {flex-direction: row;}
.align-items-center {align-items: center;}
.align-content-center {align-content: center;}
.justify-content-center {justify-content: center;}
.justify-content-evenly {justify-content: space-evenly;}

/* Text */
h1,h2,h3 {font-family: "Roboto Slab", serif; margin: 0px; padding: 0px;}
li,p,label,a {font-family: "Oswald", sans-serif; margin: 0px; padding: 0px;}
h1 {font-size: 3rem; text-transform: uppercase;}
h2 {font-size: 2rem;}
h3 {font-size: 1.6rem;}
p {font-size: 1.2rem; color: black;}
a, ul {font-size: 1.1rem; text-transform: uppercase;}
a:hover,a:link,a:visited {text-decoration: none; color: rgb(255, 255, 255);}
.uppercase {text-transform: uppercase;}
li {overflow: hidden;}
ul {padding-left: 0;}
.txtCenter {text-align: center;}

/* Buttons/CTA */
.indexCTA {line-height: 50px; height: 50px; text-align: center; width: 250px; cursor: pointer;}
.indexButton {transition: all 0.8s; position: relative;}
.indexButton span {transition: all 0.8s;}
.indexButton:hover span {letter-spacing: 3px;}
.indexButton:hover::before {opacity: 0.3;transform: scale(1, 1);}
.indexButton:hover::after {opacity: 0; transform: scale(0.1, 1);}
.indexButton::before {content: ""; position: absolute; left: 0; width: 100%; height: 100%; opacity: 0; transition: all 0.8s; border-width: 1px 0px; border-style: solid; border-color: black; transform: scale(0.1, 1);}
.indexButton::after {content: ""; position: absolute; left: 0; width: 100%; height: 100%; background-color: rgba(15, 158, 111, 0.35); transition: all 0.8s;}

/* Icons */
.icons {font-size: 2.2rem; color: rgb(45, 131, 102);}
.icons:hover {color:purple;}
.iconsMe {font-size: 2rem; color: purple;}
.iconsMe:hover {color: rgb(45, 131, 102);}


/* Animations */
.slideHello {animation: slideLeftRight 1.6s ease forwards;}
.slideInt {animation: slideLeftRight 1.8s ease forwards;}
.slideName {animation: slideLeftRight 1.9s ease forwards;}
.slideButtomUP {animation: slideButtomUP 2s ease forwards;}

/* ___PAGES___ */

.width100 {width: 100%;}
/* Index */
.introContainer {color: #252121; align-items: center; text-align: center;}
.indexNav {margin-top: 40px; width: 85%; max-width: 900px; flex-direction: column;}
.indexNav a {justify-content: center; align-items: center; display: flex; margin-top: 25px;}
.indexList {flex-direction: column;}

.divider {color: purple;}


/* Content Pages */
/* NAV */
.contentNav {width: 100%; position: fixed; top: 0px; flex-direction: row;   background-color: purple; z-index: 10;}
.contentNav span {font-size: 1.2rem; color: #ffffff;}
.navObject:hover {color: rgb(45, 131, 102);}
.navActive {color: rgb(24, 217, 152) !important;}

/* Container */
.contentContainer {min-height: 100vh; min-width: 100%;}
.contentContainer h1 {margin-left: 40px; padding-top: 40px; font-size: 2rem;}
.contentSize {min-height: 100vh; width: 100%;}
.themeContainer {background-color: #f2f2f2; color: #121212;}
.themeContainer h2 ,h3, p, span, ul {color: #1b1b1b;}

/* Content */
.contentTile {margin: 30px 0px; width: 360px; background-color: #fff; box-shadow: 0px 0px 8px 2px #d3bed1}
.content {width: 100%;}

.tile-transform{transition: transform .3s; z-index: 1;}
.tile-transform:hover{transform: scale(1.05);}
/* .grayscale{filter: grayscale(60%);}
.grayscale:hover{filter: grayscale(0%);} */



.contentSpan {margin-top: 10px;font-size: 1.1rem; text-transform: uppercase; color: #1b1b1b; font-family: "Oswald", sans-serif;}
.contentDesc {font-size: 1rem;}
.gap {gap: 5px; margin-top: 2px;}
.projectImage {width: 200px; height: 320px; background-repeat: no-repeat; background-size: cover;}
.info {margin-left: 9px;}
.info h2 {font-size: 1.1rem;}
.stackList {flex-direction: column;}

.aboutImage {width: 205px; height: 300px; background-repeat: no-repeat; background-size: contain;}
.aboutText {color: #1b1b1b;}
.aboutText h1 {margin-left: 0px;}

/* Form */
.formTile {padding: 10px;}
.contactContainer {font-size: 1.5rem;}
.formInput {border: black solid 1px;}
.formTextbox{height: 200px;}
.formButton {background-color: black; color: white; font-size: 2rem; border: none; border-radius: 3px; padding: 7px 0px; font-weight: bold;}
.formButton:hover {color: rgb(87, 201, 163); cursor: pointer;}
.formValidator {text-align: center;}
.formValidStyle {border: solid 2px; border-radius: 4px; padding: 2px 0px; margin-bottom: 6px;}
.formValidTrue{background-color: #52974d; border-color: #72eb72; }
.formValidFalse{background-color: #ffb0b087; border-color: #e44242; }


/* ___KEYFRAMES___ */
@keyframes slideLeftRight {
    0% {transform: translateX(-900px) scale(0.8);}
    100% {transform: translateY(0px) scale(1);}
}

@keyframes slideButtomUP {
    0% {transform: translateY(60px);}
    100% {transform: translateY(0px);}
}

@keyframes slideBG {
    0% {transform: translateX(1400px);}
    100% {transform: translateX(0px);}
  }


/* ___MEDIATAGS___ */
/*-- 600Px --*/
@media (min-width: 600px) {
  .indexNav {flex-direction: column;}

  /* .contentNav {width: 100%; position: fixed; top: 0px; flex-direction: row;   background-color: purple;} */
  .contentNav span {font-size: 1.6rem;}
  .contentTile {margin: 30px 0px; min-width: 420px;}
  .projectImage {width: 100%; height: 395px; background-repeat: no-repeat; background-size: cover;}
  .content{flex-direction: column-reverse;}
  .contentDesc {font-size: 1.5rem;}
  .info h2 {font-size: 1.5rem;}
  .info {align-items: center; justify-content: space-evenly;}
  a, ul {font-size: 0.9rem;}
  .stackList {flex-direction: row;}
  .aboutImage {width: 254px; height: 380px;}
  .divider {font-size: 2rem; margin: 0px 15px;}

  .contactContainer {width: 420px;}
  .formTextbox{height: 240px;}
  
  }
  
  /*-- 800Px --*/
  @media (min-width: 800px) {
    .indexNav {flex-direction: row;}
    .indexList {flex-direction: row;}
    .indexList li {font-size: 1.5rem;}
    .introContainer {align-items: flex-start;}
    .indexCTA {width: 190px;}

    /* NAV */
    /* .contentNav {width: 100%; position: fixed; top: 0px; flex-direction: row; background-color: purple;} */
    .contentNav span {font-size: 1.8rem;}
    .contentTile {margin: 30px 0px; min-width: 690px; }
    .projectImage {width: 320px; height: 290px; background-repeat: no-repeat; background-size: cover;}
    .contentDesc {font-size: 1.5rem;}
    .content{flex-direction: row;}
    .info h2 {font-size: 1.5rem;}
    a, ul {font-size: 0.9rem;}
    .info {align-items: end; justify-content: space-evenly;}

    .contactContainer {width: 700px;}
  
  }
  
  /*-- 1200Px --*/
  @media (min-width: 1200px) {
    .indexCTA {width: 240px;}

    .contentNav {position: fixed; width: 150px; right: 10px; flex-direction: column; ; background-color: #f2f2f2;}
    .contentNav span {font-size: 2.2rem; color: #121212; font-weight: normal;}
    .navActive {color: rgb(45, 131, 102) !important;}
    .contentTile {margin: 30px 0px; min-width: 820px; max-width: 700px; }
    .projectImage {width: 430; height: 350px;}
    .info {width: 100%; margin-right: 20px; align-items: end; justify-content: space-around;}
    .stackList {font-size: 1rem;}

  }
  
  /*-- 1300Px --*/
  @media (min-width: 1300px) {
    .contentNav span {font-size: 2.5rem;}
    .contentTile {margin: 30px 0px; min-width: 900px; max-width: 700px; }
    .projectImage {width: 500px; height: 380px;  background-repeat: no-repeat; background-size: contain; }
  }